# Make the gitignore a white list
*

!README.md
!.gitignore

!keylimepi_fpga
!keylimepi_fpga/README.md
!keylimepi_fpga/build
!keylimepi_fpga/build/scripts/
!keylimepi_fpga/build/scripts/*.tcl
!keylimepi_fpga/build/scripts/*.sh

!keylimepi_fpga/src/
!keylimepi_fpga/src/constraints/
!keylimepi_fpga/src/constraints/*.xdc
!keylimepi_fpga/src/init_files
!keylimepi_fpga/src/init_files/*.coe

!keylimepi_fpga/src/ip/
!keylimepi_fpga/src/ip/pw_ram
!keylimepi_fpga/src/ip/pw_ram/pw_ram.xci

!keylimepi_fpga/src/rtl

!keylimepi_fpga/src/rtl/aes_cipher
!keylimepi_fpga/src/rtl/aes_cipher/README.md
!keylimepi_fpga/src/rtl/aes_cipher/src/
!keylimepi_fpga/src/rtl/aes_cipher/src/*.sv
!keylimepi_fpga/src/rtl/aes_cipher/sim/
!keylimepi_fpga/src/rtl/aes_cipher/sim/*.sv

!keylimepi_fpga/src/rtl/AXI2SPI
!keylimepi_fpga/src/rtl/AXI2SPI/README.md
!keylimepi_fpga/src/rtl/AXI2SPI/src/
!keylimepi_fpga/src/rtl/AXI2SPI/src/*.sv
!keylimepi_fpga/src/rtl/AXI2SPI/sim/
!keylimepi_fpga/src/rtl/AXI2SPI/sim/*.sv

!keylimepi_fpga/src/rtl/ctrl_logic
!keylimepi_fpga/src/rtl/ctrl_logic/README.md
!keylimepi_fpga/src/rtl/ctrl_logic/src/
!keylimepi_fpga/src/rtl/ctrl_logic/src/*.sv
!keylimepi_fpga/src/rtl/ctrl_logic/sim/
!keylimepi_fpga/src/rtl/ctrl_logic/sim/*.sv

!keylimepi_fpga/src/rtl/keylimepi_fpga
!keylimepi_fpga/src/rtl/keylimepi_fpga/README.md
!keylimepi_fpga/src/rtl/keylimepi_fpga/src/
!keylimepi_fpga/src/rtl/keylimepi_fpga/src/*.sv
!keylimepi_fpga/src/rtl/keylimepi_fpga/sim/
!keylimepi_fpga/src/rtl/keylimepi_fpga/sim/*.sv

!keylimepi_fpga/src/rtl/rv_fifo
!keylimepi_fpga/src/rtl/rv_fifo/README.md
!keylimepi_fpga/src/rtl/rv_fifo/src/
!keylimepi_fpga/src/rtl/rv_fifo/src/*.sv
!keylimepi_fpga/src/rtl/rv_fifo/sim/
!keylimepi_fpga/src/rtl/rv_fifo/sim/*.sv

!keylimepi_fpga/src/rtl/serial_interface
!keylimepi_fpga/src/rtl/serial_interface/README.md
!keylimepi_fpga/src/rtl/serial_interface/src/
!keylimepi_fpga/src/rtl/serial_interface/src/*.sv
!keylimepi_fpga/src/rtl/serial_interface/sim/
!keylimepi_fpga/src/rtl/serial_interface/sim/*.sv

!keylimepi_fpga/src/rtl/mem_ctrl
!keylimepi_fpga/src/rtl/mem_ctrl/README.md
!keylimepi_fpga/src/rtl/mem_ctrl/src/
!keylimepi_fpga/src/rtl/mem_ctrl/src/*.sv
!keylimepi_fpga/src/rtl/mem_ctrl/sim/
!keylimepi_fpga/src/rtl/mem_ctrl/sim/*.sv

!legacy
!legacy/lcd/
!legacy/lcd/*.py

!legacy/rpicode/
!legacy/rpicode/*.py

!legacy/UserInterface/
!legacy/UserInterface/*.py

!keylimepi_ui/
!keylimepi_ui/Cargo.toml
!keylimepi_ui/src/
!keylimepi_ui/src/*.rs
