# Make the gitignore a white list
*

!README.md
!.gitignore

!FPGACode
!FPGACode/README.md
!FPGACode/build
!FPGACode/build/scripts/
!FPGACode/build/scripts/*.tcl
!FPGACode/build/scripts/*.sh

!FPGACode/src/
!FPGACode/src/constraints/
!FPGACode/src/constraints/*.xdc
!FPGACode/src/ip/
!FPGACode/src/rtl

!FPGACode/src/rtl/aes_cipher
!FPGACode/src/rtl/aes_cipher/README.md
!FPGACode/src/rtl/aes_cipher/src/
!FPGACode/src/rtl/aes_cipher/src/*.sv
!FPGACode/src/rtl/aes_cipher/sim/
!FPGACode/src/rtl/aes_cipher/sim/*.sv

!FPGACode/src/rtl/AXI2SPI
!FPGACode/src/rtl/AXI2SPI/README.md
!FPGACode/src/rtl/AXI2SPI/src/
!FPGACode/src/rtl/AXI2SPI/src/*.sv
!FPGACode/src/rtl/AXI2SPI/sim/
!FPGACode/src/rtl/AXI2SPI/sim/*.sv

!FPGACode/src/rtl/ctrl_logic
!FPGACode/src/rtl/ctrl_logic/README.md
!FPGACode/src/rtl/ctrl_logic/src/
!FPGACode/src/rtl/ctrl_logic/src/*.sv
!FPGACode/src/rtl/ctrl_logic/sim/
!FPGACode/src/rtl/ctrl_logic/sim/*.sv

!FPGACode/src/rtl/keylimepi_fpga
!FPGACode/src/rtl/keylimepi_fpga/README.md
!FPGACode/src/rtl/keylimepi_fpga/src/
!FPGACode/src/rtl/keylimepi_fpga/src/*.sv
!FPGACode/src/rtl/keylimepi_fpga/sim/
!FPGACode/src/rtl/keylimepi_fpga/sim/*.sv

!FPGACode/src/rtl/rv_fifo
!FPGACode/src/rtl/rv_fifo/README.md
!FPGACode/src/rtl/rv_fifo/src/
!FPGACode/src/rtl/rv_fifo/src/*.sv
!FPGACode/src/rtl/rv_fifo/sim/
!FPGACode/src/rtl/rv_fifo/sim/*.sv

!FPGACode/src/rtl/serial_interface
!FPGACode/src/rtl/serial_interface/README.md
!FPGACode/src/rtl/serial_interface/src/
!FPGACode/src/rtl/serial_interface/src/*.sv
!FPGACode/src/rtl/serial_interface/sim/
!FPGACode/src/rtl/serial_interface/sim/*.sv

!lcd/
!lcd/*
!lcd/scripts/
!lcd/scripts/*

!rpicode/
!rpicode/*.py

!UserInterface/
!UserInterface/*.py
